// Abstracts : Variables - ================================================== -

// URL references
$urls: (
  'media' : './media/',
  'red-hat-display' : './media/red-hat-display/'
);

// Colours
$colors-primary: (
  'main' : hsl(245, 75%, 52%),
  'active' : hsl(245,83%,68%),

  'tone-1' : hsl(225, 100%, 98%),
  'tone-2' : hsl(225, 100%, 94%),
  'tone-3' : hsl(224, 23%, 55%),
  'tone-4' : hsl(223, 47%, 23%),
);
$col-attribution: hsl(228, 45%, 44%);

// Greyscale
$grayscale: (
  'light-1' : #fff,
  'dark-1' : #000
);

// Font sizes
$font-sizes: (
  'semi-small' : 1.3rem,
  'small' : 1.4rem,
  'semi-normal' : 1.5rem,
  'normal' : 1.6rem,
  'medium' : 1.8rem,
  'big' : 2.2rem,
  'large' : 2.8rem
);

// Box shadows
$box-shadows: (
  'light-blur' : 0 2.4rem 3.2rem rgba( map.get($colors-primary, 'main'), 0.1 ),
  'harsh-blur' : 0 1.4rem 1.6rem rgba( map.get($colors-primary, 'main'), 0.2 )
);

//	Border radii
$border-radii: (
  'medium' : 12px,
  'large' : 16px,
  'circle' : 2048px
);