/* Component : Button - ================================================== - */

/* [Default] --------------------------------------------------------------- */
.btn {
  transition: background-color 0.2s;
  position: relative;
  z-index: 0;
  display: block;
  border: none;
  border-radius: map.get($border-radii, 'medium');
  padding: 1.8rem 0;
  outline: none;
  box-shadow: map.get($box-shadows, 'harsh-blur');
  cursor: pointer;
  font-size: map.get($font-sizes, 'normal');
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;

  /* main attracting colour */
  &--highlight {
    background-color: map.get($colors-primary, 'main');
    color: map.get($grayscale, 'light-1');

    /* 'hover', 'active' states */
    &:focus,
    &:hover,
    &:active { background-color: map.get($colors-primary, 'active'); }
  }

  // styles for when element is focused
  @include focus-effect;
}