/* Component : Link - ==================================================== - */

/* [Default] --------------------------------------------------------------- */
.link {
  transition: color 0.2s;

  position: relative;
  z-index: 0;

  /* 'link', 'visited' states */
  &:link,
  &:visited {
    outline: none;
    font-weight: 700;
    color: map.get($colors-primary, 'main');
  }

  /* 'focus', 'hover', 'active' states */
  &:focus,
  &:hover,
  &:active { color: map.get($colors-primary, 'active'); }

  /* 'Grey' variation */
  &--grey {

    /* 'link', 'visited' states */
    &:link,
    &:visited { color: map.get($colors-primary, 'tone-3'); }

    /* 'focus' 'hover', 'active' states */
    &:focus,
    &:hover,
    &:active { color: map.get($colors-primary, 'tone-4'); }
  }

  /* 'Attribution' variation */
  &--attribution {

    /* 'link', 'visited' states */
    &:link,
    &:visited {
      font-weight: 500;
      color: $col-attribution;
    }

    /* 'focus', 'hover', 'active' states */
    &:focus,
    &:hover,
    &:active {color: map.get($colors-primary, 'tone-3'); }
  }

  // styles for when element is focused
  @include focus-effect(-0.4rem, -0.2rem);
}