/*	Component : Order Summary Item - ======================= */

/*	[default] ---------------------------------------------- */
.order-sum-item {
	/*	Layout */
	display: flex;
	align-items: center;
	gap: 2rem;
	border-radius: $brd-medium;

	/*	Background */
	background-color: $col-first-tone1;

	/*	Icon image */
	&__img { flex-shrink: 1; }

	/*	Text container */
	&__text-box {
		flex-grow: 1;
		text-align: left;
	}

	/*	Heading */
	&__heading {
		/* inherits from 'order-sum-item' */
		font-size: inherit;
		font-weight: 900;
		color: $col-first-tone4;
	}

	/*	Price text */
	&__price {
		/* inherits from 'order-sum-item' */
		font-size: inherit;
	}

	/*	Link */
	&__link {
		flex-shrink: 1;

			/*	'link', 'visited' states */
		&:link,
		&:visited {
			font-weight: 700;
			color: $col-first;
		}
	}

/*	[Media - max-width: 497px] --------------------------------- */
	@media only screen and (max-width: 31.0625em)	{
		padding: 1.6rem;
		font-size: $font-small;

		/* 'change' link */
		&__link { font-size: $font-semi-small; }
	}

/*	[Media - min-width: 498px] --------------------------------- */
	@media only screen and (min-width: 31.125em)	{
		padding: 2.4rem;
		font-size: $font-normal;

		/* 'change' link */
		&__link { font-size: $font-small; }
	}
}