/* Component : Order Summary Item - ====================================== - */

/* [Default] --------------------------------------------------------------- */
.order-sum-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: map.get($border-radii, 'medium');
  background-color: map.get($colors-primary, 'tone-1');

  /* icon image */
  &__img { flex-shrink: 1; }

	/* text container */
  &__text-box {
    flex-grow: 1;
    text-align: left;
  }

  /* heading
   * font-size inherits from 'order-sum-item'
   * text-align inherits from 'text-box' */
  &__heading {
    font-size: inherit;
    font-weight: 900;
    text-align: inherit;
    color: map.get($colors-primary, 'tone-4');
  }

  /* price text
   * font-size inherits from 'order-sum-item'
   * text-align inherits from 'text-box' */
	&__price {
    font-size: inherit;
    text-align: inherit;
  }

	/* 'change' link */
  &__link {
    transition:
      text-decoration-color .2s,
      color .2s
    ;
    flex-shrink: 1;

    /* 'focus', 'hover', 'active' states */
    &:focus,
    &:hover,
    &:active { text-decoration-color: transparent; }

    // styles for when element is focused
    @include focus-effect;
  }

/* [Media : max-width: 498px] ---------------------------------------------- */
  @media only screen and (max-width: 31.125em)	{
    padding: 1.6rem;
    font-size: map.get($font-sizes, 'small');

    /* 'change' link */
    &__link { font-size: map.get($font-sizes, 'semi-small'); }
  }

/* [Media : min-width: 498px] ---------------------------------------------- */
  @media only screen and (min-width: 31.125em)	{
    padding: 2.4rem;
    font-size: map.get($font-sizes, 'normal');
  
    /* 'change' link */
    &__link { font-size: map.get($font-sizes, 'small'); }
  }
}