/*	Component - Order Summary
		[Default] - ============================================ */

.order-sum {
	/*	Prevents head image ignoring border radius */
	overflow: hidden;

	border-radius: $brd-large;
	max-width: 37.5rem;
	box-shadow: $shd-light-soft;
	background-color: $gry-light-1;

	/*	Head image */
	&__head-image { display: block; }

	/*	Content Container */
	&__content-box {
		padding: 2.4rem;

		/* Affects: heading, text, '.link' */
		text-align: center;
	}

	/*	Heading */
	&__heading {
		margin-bottom: 1.6rem;
		font-size: $font-large;
		font-weight: 900;
		color: $col-first-tone4;
	}

	/*	Text */
	&__text { }

	/*	Item list */
	&__list {
		margin: 1.6rem 0;
		list-style: none;
	}

	/* continue button, cancel link */
	&__continue,
	&__cancel { font-size: 1.4rem; }
}