/*	Component - Order Summary
		[Default] - ============================================ */

.order-sum {
	/*	Prevents head image ignoring border radius */
	overflow: hidden;

	border-radius: $brd-large;
	min-width: 32.7rem;
	max-width: 45rem;
	box-shadow: $shd-light-soft;
	background-color: $gry-light-1;

	/*	Head image */
	&__head-image { display: block; }

	/*	Content Container */
	&__content-box {
		padding: 4.2rem 4.8rem;

		/* Affects: heading, text, '.link' */
		text-align: center;
	}

	/*	Heading */
	&__heading {
		margin-bottom: 1.2rem;
		font-size: $font-large;
		font-weight: 900;
		color: $col-first-tone4;
	}

	/*	Text */
	&__text { }

	/*	Item list */
	&__list {
		margin: 1.2rem 0 2.8rem;
		list-style: none;
	}

	/* continue button */
	&__continue {
		margin-bottom: 2.8rem;
		font-size: $font-semi-normal;
	}

	/* cancel link */
	&__cancel {
		font-size: $font-semi-normal;

		/* 'link', 'visited' states */
		&:link,
		&:visited { font-weight: 900; }
	}
}