/* Base : Base Styles - ================================================== - */

/* [Default] --------------------------------------------------------------- */

// HTML element applies two global changes:
//  - 'border-box' ensures direct sizing of elements (i.e.: 'width' and
//    'height') is not affected by 'padding', 'margin', 'border' etc.

//  - 'font-size' translates to one REM unit equaling 10 pixels, assuming the
//    browser default font size is 16px

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// Universal selectors enforce 'border-box' sizing everywhere
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* default typography */
  // Interpolation of forward-slash prevents division
  font: 500 map.get($font-sizes, 'normal') #{'/'} 1.7 'Red Hat Display', sans-serif;
  color: map.get($colors-primary, 'tone-3');
}

/* 'attribution' container */
.attribution {	
  font-size: map.get($font-sizes, 'semi-small');
  text-align: center;
}

/* [Media : max-width: 498px] ---------------------------------------------- */
@media only screen and (max-width: 31.125em)	{
  body { background: url('#{map.get($urls, "media")}/pattern-background-mobile.svg') 0 0 / 100% no-repeat map.get($colors-primary, 'tone-2'); }
}

/* [Media : min-width: 498px] ---------------------------------------------- */
@media only screen and (min-width: 31.125em)	{

	body { background: url('#{map.get($urls, "media")}/pattern-background-desktop.svg') 0 0 / 100% no-repeat map.get($colors-primary, 'tone-2'); }

}