/*	Base : Base Styles - ======================================= */

/*	[Default] -------------------------------------------------- */
html {
	/*	'border-box' sizing for preferred sizing of elements */
	box-sizing: border-box;

	/*	Translates to one REM unit equaling 10 pixels */
	font-size: 62.5%;
}

*,
*::before,
*::after {
	/*	Remove default padding and margin on all elements */
	margin: 0;
	padding: 0;

	/*	apply 'border-box' box-sizing on all elements */
	box-sizing: inherit;
}

body {
	/*	Page layout */
	display: grid;
	grid-template-rows: 1fr min-content;
	justify-content: center;
	align-items: center;
	height: 100vh;

	/*	Default typography */
	font-family: 'Red Hat Display', sans-serif;
	font-size: $font-normal;
	font-weight: 500;
	line-height: 1.7;
	color: $col-first-tone3;
}

/* Attribution */
.attribution {	

	margin-bottom: .8rem;
	font-size: $font-semi-small;
	text-align: center;

	/* links */
	& a {
		/* transition */
		transition: color .2s;

		position: relative;
		z-index: 0;

		/* 'link', 'visited' states */
		&:link,
		&:visited {
			color: $col-attribution;
			outline: none;
		}

		/* 'focus', 'hover', 'active' states */
		&:focus,
		&:hover,
		&:active {color: $col-first-tone3; }

		/* see line 19 of 'abstracts/_mixins.scss' for context */
		@include focus-effect(0, 0);
	}
}

/*	[Media - max-width: 497px] --------------------------------- */
@media only screen and (max-width: 31.0625em)	{
	body {
		/*	Page layout */
		padding: 0 2.4rem;

		/* page background */
		background: url(#{$url-media}/pattern-background-mobile.svg) 0 0 / 100% no-repeat $col-first-tone2;
	}
}

/*	[Media - min-width: 498px] --------------------------------- */
@media only screen and (min-width: 31.125em)	{
	body {
		background: url(#{$url-media}/pattern-background-desktop.svg) 0 0 / 100% no-repeat $col-first-tone2;
	}
}